<!-- IF false -->
This file contains header.
Links block below header is disabled by default, remove lines 15 (if false) and 38 (endif) to enable it.

Edit it as text file, not as HTML because WYSIWYG editors (such as Dreamweaver) tend to mess up phpBB template syntax.

After changing this file and uploading it on server, open your forum in browser, go to admin control panel and click "purge cache" button on control panel index.
<!-- ENDIF -->

<div class="logo">
	<a href="{U_INDEX}">{SITE_LOGO_IMG}</a>
	<h1>{PAGE_TITLE}</h1>
</div>

<div class="top-links">

	<a class="top-link" href="http://www.colorizeit.com/index.html"><span>ColorizeIt</span></a>
	<div class="popup-trigger">
		<a class="top-link" href="http://www.colorizeit.com/index.html"><span>Colorize phpBB Styles</span></a>
		<ul class="popup popup-list">
			<li class="popup-link popup-trigger">
				<a href="http://www.colorizeit.com/browse/9/phpbb-group-styles.html">phpBB group styles</a>
				<ul class="popup popup-list">
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-group-styles/12.prosilver.html">Prosilver</a></li>
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-group-styles/14.subsilver.html">Subsilver 2</a></li>
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-group-styles/19.prosilverse.html">Prosilver SE</a></li>
				</ul>
			</li>
			<li class="popup-link popup-trigger">
				<a href="http://www.colorizeit.com/authors/artodia.html">Artodia styles</a>
				<ul class="popup popup-list">
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-30-css-styles/215.air.html">Air</a></li>
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-30-css-styles/248.black.html">Black</a></li>
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-30-css-styles/178.colorizeit.html">ColorizeIt</a></li>
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-30-css-styles/180.colorizeitblack.html">ColorizeIt Black</a></li>
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-30-css-styles/188.deluxe.html">Deluxe</a></li>
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-30-css-styles/186.elegance.html">Elegance</a></li>
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-30-css-styles/187.eleganceblack.html">Elegance Black</a></li>
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-30-css-styles/214.phantom.html">Phantom</a></li>
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-30-css-styles/243.ultrablue.html">Ultra Blue</a></li>
				</ul>
			</li>
			<li class="popup-link popup-trigger">
				<a href="http://www.colorizeit.com/browse/22/phpbb-30-mobile-styles.html">Mobile styles</a>
				<ul class="popup popup-list">
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-30-mobile-styles/205.mobile-seo.html">Prosilver Mobile / SEO</a></li>
					<li class="popup-link"><a href="http://www.colorizeit.com/styles/phpbb-30-mobile-styles/210.mobile_iphone.html">iPhone</a></li>
				</ul>
			</li>
			<li class="popup-link"><a href="http://www.colorizeit.com/browse/4/phpbb-30-css-styles.html">Other prosilver based styles</a></li>
			<li class="popup-link"><a href="http://www.colorizeit.com/browse/8/phpbb-30-styles.html">Other subsilver2 based styles</a></li>
		</ul>
	</div>
	<a class="top-link" href="http://www.artodia.com/index.html"><span>Artodia</span></a>
	<a class="top-link" href="http://www.artodia.com/demo/"><span>Styles Demo</span></a>
	<a class="top-link" href="http://www.artodia.com/contact.html"><span>Contact Form</span></a>

</div>
